.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
        padding-left: 50px;
    }
    .nav {
        ul {
            list-style-type: none;
            display: flex;
            li {
                color: rgb(172, 26, 26);
                padding: 10px 20px;
            }
        }
    }
}
